

.game{
  display: block;
  text-align: center;
  padding: 50px;
  
}


.header{
  background-color: #64A4FF;
  text-align: center;
  margin-right: -10%;
  margin-left: -10%;
}

.content{
  background-color: #325280;
  text-align: center;
  margin-right: -10%;
  margin-left: -10%;
  margin-bottom: -10%;
  
}
.title{
  background-color: #64A4FF;
  padding:0.2%;
  text-align: center;
  margin-right: -10%;
  margin-left: -10%;
  margin-top: -1%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14pt;
}