

.game{
  display: block;
  text-align: center;
  padding: 30px;
  
}


.header{
  background-color: #64A4FF;
  text-align: center;
  margin-right: -10%;
  margin-left: -10%;
}

.content{
  background-color: #325280;
  text-align: center;
  margin-right: -10%;
  margin-left: -10%;
  margin-bottom: -10%;
  
}
.button{
  background-color: #325280;
  text-align: center;
  position: relative;
  top: 50px;  
}
.buttoncool {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.title{
  background-color: #64A4FF;
  padding:0.2%;
  text-align: center;
  margin-right: -10%;
  margin-left: -10%;
  margin-top: -1%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14pt;
}